/* accent color : #f7ac1d */
* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Heading */
.home-bg {
  max-width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.Logo {
  position: absolute;
  top: 0rem;
  left: 2rem;
}
.logo-a {
  position: relative;
  top: 2rem;
  object-fit: contain;
  max-height: 42px;
}

/* navbar */
nav {
  min-width: 95vw;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
}
.capabilities,.firms,.insights,.contacts{
  flex: 1;
}
.login{
  flex: 3;
  display: flex;
  justify-content: flex-end;
}
.capabilities button,
.firms button,
.login button,
.insights button,
.contacts button {
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 15px;
  text-shadow: 2px 2px 5px rgba(78, 78, 78, 0.952);
}
.login button{
  background-color: #f7ac1d;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(78, 78, 78, 0.952);
}
.capabilities ul,
.firms ul {
  position: absolute;
  background: inherit;
  backdrop-filter: blur(0.9rem);
  background-color: rgba(255, 255, 255, 0.267);
  box-shadow: 5px 5px 2px rgba(20, 20, 20, 0.521);
  margin: 5px;
  width: 15vw;
  border-radius: 7px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.capabilities li,
.firms li {
  padding: 12px;
  list-style: none;
}
.capabilities li:hover,
.firms li:hover {
  background: inherit;
  background-color: #f7ab1d54;
  border-radius: 7px;
}
.capabilities a,
.firms a {
  text-decoration: none;
  color: black;
}
.dropdown button:focus + ul {
  opacity: 1;
  width: 15vw;
  pointer-events: all;
  transform: translateY(4px);
  transition: all 0.4s ease-in-out;
  z-index: +5;
}
.burger div {
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 2px;
  transition: all 0.4s ease;
}
.burger {
  display: none;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f7ac1d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.white{
  color: white;
}
.grey{
  color:rgb(71, 71, 71);
}


/*carousel*/
.carousel-container
{
  width:60%;
  margin:auto;
  overflow:hidden;
  border: 5px solid black;
}

.carousel-slide
{
  display:flex;
  width:100%;
  height:500px;
}











/* section-1 */
.section-1 h1{
  position: absolute;
  width: 45vw;
  top: 35vh;
  font-size: 5vw;
  text-align: right;
  left: 48vw;
}

/* section-2 */
.section-2{
  display: flex;
  height: 75vh;
  justify-content: space-around;
}
#line-chart{
  width: 50%;
  object-fit: contain;
  padding: 3rem;
}
.section-2 h1{
  font-size: 4vw;
}
.section-2-text{
  position: relative;
  top: 18vh;
  padding-left: 3rem;
}
.section-2 a{
  text-decoration: none;
  color: #f7ac1d;
}
.section-2 p{
  padding-top: 5vh;
}


/* footer */
footer{
  background-color: black;
  color: rgb(184, 184, 184);
  text-align: center;
  font-size: 10px;
  padding: 5px;
}







/*< scrollbar >*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 0px;
  background-color: #fafafa;;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-image: -webkit-linear-gradient(top,#838383,#808080);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 71, 71); 
}
/* </scrollbar> */






/* responsiveness */
@media screen and (max-width: 768px) {
  body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
  }

  .nav {
    position: absolute;
    top: 0px;
  }
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
    top: 0vh;
    height: 100vh;
    width: 75%;
    margin: 0%;
    background: inherit;
    backdrop-filter: blur(0.9rem);
    background-color: rgba(255, 255, 255, 0.267);
    box-shadow: -5px 0px 10px rgba(20, 20, 20, 0.521); 
    transform: translateX(100%);
    transition: all 0.4s ease-in;
    z-index: +5;
  }
  .dropdown button:focus + ul {
    opacity: 1;
    width: 35vw;
    pointer-events: all;
    transition: all 0.4s ease-in-out;
    z-index: +5;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 10rem;
  }
  .dropdown li{
    padding: 5px 5px;
  }
  .dropdown button{
    opacity: 0;
  }

  
  .capabilities,.firms,.insights,.contacts,.login{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }

  .burger {
    display: block;
    position: absolute;
    right: 8%;
    top: 5vh;
    z-index: 5;
  }
  .hover-underline-animation:after {
    display: none;
  }




  /* section-1 */
  .section-1 h1{
    position: absolute;
    width: 95vw;
    top: 40vh;
    font-size: 10vw;
    text-align: right;
    left: 0;
    padding-right: 3rem;
  }

  /* .section-2 */
  .section-2{
    flex-direction: column-reverse;
  }
  #line-chart{
    width: 80vw;
    object-fit: contain;
    padding: 3rem 3rem 0px 3rem;
  }
  .section-2 h1{
    font-size: 8vw;
  }
  .section-2-text{
    position: initial;
    top: 0vh;
    padding: 3rem;
  }
  .section-2 a{
    text-decoration: none;
    color: #f7ac1d;
  }
  .section-2 p{
    padding-top: 2vh;
  }

}

.dropdown-active {
  transform: translateX(0%);
}
.dropdown-active button {
  color: #ffffff;
}
.dropdown-active ul {
  background: inherit;
  backdrop-filter: blur(10rem);
  background-color: rgba(255, 255, 255, 0.267);
  z-index: +5;
}

@keyframes linkfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line-2 {
  width: 0px;
  transform: translateX(25px);
  background-color: #f7ac1d;
}
.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}










